@model IEnumerable<CMSNews.Models.ViewModels.NewsViewModel>

<div class="news-panel">
    <div class="news-item-title">
        تازه ترین خبرها
    </div>

    @foreach (var item in Model)
    {
        <div class="news-item1 row">
            <div class="news-item-right">
                <img src="~/Images/news/@item.ImageName" alt="@item.NewsTitle" class="img1">
            </div>
            <div class="news-item-left">
                <a href="/newses/newsdetails/@item.NewsId">
                    <h2 class="news-title">
                        @item.NewsTitle
                    </h2>
                </a>
                <div class="news-desc">
                    <div>

                        <i class="fa fa-eye"></i>
                        @item.See
                    </div>
                    <div>
                        <i class="fa fa-calendar"></i>
                        @Html.DisplayFor(model => item.RegisterDate)
                    </div>
                    <div>
                        <div id="showLike_@item.NewsId">
                            @Html.Action("ShowLike", "newses", new { newsId = item.NewsId, state = true })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>